@model PLAYOUT.Models.ViewModels.AddMusicalRequest

@{
    ViewData["Title"] = "Subir Video Musical";
}



<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Subir Video Musical</h2>
            <div class="mb-3">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>

                <div class="mb-3">
                    <label for="videoFile">Archivo de Video</label>
                    <input type="file" class="form-control" id="videoFile" name="videoFile" />
                </div>
                <div class="mb-3">
                <input type="submit" value="Subir" class="btn btn-success" />
                </div>
            <div>
                _
            </div>
            <div>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/home/index';">Volver al menu</button>
            </div>
        </div>
        
    </div>

    
</form>
