@model Dictionary<PLAYOUT.Models.Domain.Canal, List<PLAYOUT.Models.Domain.Programacion>>

@foreach (var canalProgramacion in Model)
{
    <h3>@canalProgramacion.Key.Name</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Hora</th>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var programa in canalProgramacion.Value)
            {
                <tr>
                    <td>@programa.Hora.ToString("HH:mm")</td>
                    <td>@programa.Programa</td>
                </tr>
            }
        </tbody>
    </table>
}