@model PLAYOUT.Models.ViewModels.DayProgramRequest

<div class="bg-secondary bg-opacity-10 py-5">
    <div class="row justify-content-center">
        <div class="col-4">
    <div class="container">
        <h1>Programacion</h1>

    </div>
        </div>
    </div>

</div>
<div class="row justify-content-center">
    <div class="col-4">
<form asp-controller="AdminProgra" asp-action="Delete" method="post" enctype="multipart/form-data">
    <table class="table">
        <thead>
            <tr>
                <td>Hora</td>
                <td>Canal</td>
                <td>Programacion</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var progra in Model.programacions)
            {
                <tr>
                    <td>@progra.Hora</td>
                            <input type="hidden" name="ids" value="@progra.Id" />
                    <td>@progra.CanalName</td>
                    <td>@progra.Programa</td>
                 
                </tr>

            }
        </tbody>

    </table>

    <button type="submit" class="btn btn-danger ms-2">Eliminar Todo</button>
</form>
        <div>
            _
        </div>

        <div>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/AdminProgra/verificarProgra';">Volver al menu verificar</button>
        </div>
</div>
</div>